body{
}

body {
    background-color: purple;
}

#text{
    position: fixed;
    top: 0px;
    left: 50px;
    width: 50%;
    height: 100%;
    z-index: 5;
    font-size: 20px;
    color: black;
    font-family: 'Press Start 2P';
}

#background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    background-color: red;
    z-index: -2;
}


#all_boxes {
  top: 0px;
  bottom: 5px;
  width: 840px;
  height: 440px;
  border: 15px solid black;
  position: relative;
  z-index:1;
  margin: 0 auto;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
}

#all_boxes > div {
  position: relative;
  background-color: white;
  border-radius: 2px;
  border-color: black;
  border-style: solid;
  width: 204px;
  height: 23px;
  text-align: center;
  font-family: 'Press Start 2P';
  padding: 22.5px 0px;

}

img{
  position: fixed;
  top: 410px;
}

input[type=text], select {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 3;
  text-align: justify;
}

#timebox {
  position: relative;
  background-color: white;
  border-radius: 2px;
  border-color: black;
  border-style: solid;
  width: 225px;
  left: 610px;
  text-align: center;
  font-family: 'Press Start 2P';
  padding: 17px 0;
  height: 30px;
}

@font-face {
    font-family: 'arcadeclassicregular';
    src: url('arcadeclassic-webfont.woff2') format('woff2'),
         url('arcadeclassic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#txtbox {
  background-color: white;
  margin-top: 60px;
  font-family: 'Press Start 2P';
}

#botbox {
  position: relative;
  background-color: #FFD700;
  border-radius: 2px;
  border-color: black;
  border-style: solid;
  width: 225px;
  left: 1175px;
  top: 100px;
  text-align: center;
  font-family: 'Press Start 2P';
  padding: 17px 0;
  height: 30px;
}

#playerbox {
  position: relative;
  background-color: #FFD700;
  border-radius: 2px;
  border-color: black;
  border-style: solid;
  width: 225px;
  left: 19px;
  top: 14.5px;
  text-align: center;
  font-family: 'Press Start 2P';
  padding: 17px 0;
  height: 30px;
}
