body{
}

body {
    background-color: royalblue;
}

#text{
    position: fixed;
    top: 0px;
    left: 50px;
    width: 50%;
    height: 100%;
    z-index: 5;
    font-size: 25px;
    color: black;
}

#background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    background-color: red;
    z-index: -2;
}

#all_boxes {
  top: 0px;
  bottom: 10px;
  width: 824px;
  height: 635px;
  border: 15px solid black;
  position: relative;
  z-index:1;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

#all_boxes > div {
  position: relative;
  background-color: white;
  border-radius: 2px;
  border-color: black;
  border-style: solid;
  width: 200px;
  height: 100px;
  text-align: center;
  font-family: 'arcadeclassicregular';
}

input[type=text], select {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 3;
  text-align: center;
}

#timebox {
  position: relative;
  background-color: white;
  border-radius: 2px;
  border-color: black;
  border-style: solid;
  width: 200px;
  height: 100px;
  display: inline-block;
  left: 610px;
  text-align: center;
  font-family: 'arcadeclassicregular';
}

@font-face {
    font-family: 'arcadeclassicregular';
    src: url('arcadeclassic-webfont.woff2') format('woff2'),
         url('arcadeclassic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
