body {background-color: yellow;}

h1 {
  margin: 0;
  text-align: center;
  color: black;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  padding: 30px 50px;
  color: blue;
  font-size: 40px;
  font-family: 'Press Start 2P', cursive;
}

h2 {
  margin: 2px;
  text-align: left;
  color: black;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  padding: 30px 50px;
  color: blue;
  line-height: 38px;
  font-size: 22px;
  font-family: 'Press Start 2P', cursive;
}

h3 {
  margin: 0;
  margin-left: -15px;
  text-align: left;
  color: black;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  padding: 30px 50px;
  color: blue;
  margin-top: 30px;
  margin-right: 30px;
  font-size: 28px;
  font-family: 'Press Start 2P', cursive;
}

#pikachu{
  position: relative;
  overflow: hidden;
  white-space: normal;
  width: 250px;
  height: 250px;
  left: 900px;
  top: -170px;
}

#bluepokemon{
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 250px;
  height: 250px;
  left: 430px;
  top: -160px;
}
