#rectangle {
  position: relative;
  background-color: blue;
  border-radius: 2px;
  border-color: black;
  border-style: solid;
  width: 525px;
  left: 450px;
  color: white;
  text-align: center;
  font-family: 'Press Start 2P';
  padding: 17px 0;
  height: 30px;
}

body {background-color: yellow;}

#littlebox{
  text-align: center;
  display: block;
  text-shadow: 1px 1px #000000;
  overflow: hidden;
  white-space: nowrap;
  padding: 15px 60px;
  background-color: white;
  position: relative;
  opacity: 1;
  width: 250px;
  height: 15px;
  font-size: 14px;
  border-radius: 10px;
  font-family: 'Press Start 2P';
  border: 6px solid black;
}

.stats{
  margin-left:450px;
  font-family: 'Press Start 2P';
  font-size: 15px;
}
