#rectangle {
  position: relative;
  background-color: red;
  border-radius: 2px;
  border-color: black;
  border-style: solid;
  width: 225px;
  left: 610px;
  text-align: center;
  font-family: 'Press Start 2P';
  padding: 17px 0;
  height: 30px;
}
