body {background-color: yellow;}

h1 {
  margin: 0;
  text-align: center;
  color: black;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  padding: 30px 50px;
  color: white;
  font-size: 90px;
  font-family: 'Press Start 2P', cursive;
}

#rectangle{
  padding-left: 1px;
  padding-top: 40px;
  padding-right: 1px;
  padding-bottom: 50px;
}

#gif_background {
    position: fixed;
    width:100%;
    height:100%;
    z-index: -3;
}

#username_box{
  padding: 25px 25px;
  border: 6px solid black;
  margin-top: 290px;
  margin-left: 70px;
  margin-right: 40px;
  margin-bottom: 25px;
  text-align: left;
  background-color: blue;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  opacity: 0.85;
  font-family: 'Press Start 2P';
}

#level_box{
  padding: 25px 25px;
  border: 6px solid black;
  margin-top: 90px;
  margin-right: 40px;
  text-align: center;
  background-color: blue;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  opacity: 0.85;
  font-family: 'Press Start 2P';
}

#submit_button {
  padding: 35px 30px;
  border: 6px solid black;
  margin-top: 90px;
  margin-right: 40px;
  background-color: blue;
  border-radius: 50px;
  color: white;
  font-size: 18px;
  opacity: 0.85;
  font-family: 'Press Start 2P';
}

#colorPicker{
  width: 100px;
  height: 50px;
}

#box {
  width: 200px;
  height: 200px;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: 25px;
  font-family: 'Press Start 2P';
  color: white;
  margin-bottom: 20px;
  margin-left: 70px;
  margin-top: 50px;
}
