<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <img id="mario-background" src="../static/images/marioclouds.gif">
    <meta charset="utf-8">
    <title>About The Creators</title>
    <h1> About The Creators </h1>
    <link rel="stylesheet" type="text/css" href="../static/CSS/aboutthecreators.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="row">
      <div class="column">
        <img id="rebecca" src="../static/images/final_image.jpg" style="height: 350px"; alt="rebecca">
        <p id="aboutbox";>Rebecca Shillingford worked tirelessly on the implementation of the web application, and also aided with its design. She will be attending University of North Carolina at Chapel Hill in the Fall, and will be pursuing a degree in Computer Science.</p>
      </div>
      <div class="column">
        <img id="ammar" src="../static/images/IMG_20180710_172127__01__02.jpg" style="height: 350px;"; alt="ammar">
        <p id="aboutbox">Ammar Etligani worked on the mainframe and logic of this web application. His work
                          focused on implementing the grid using JavaScript. He will be attending
                          Williams College in the Fall and is considering a double major in Computer Science and
                          economics.</p>
      </div>
      <div class="column">
        <img id="cecille" src="../static/images/cecillephoto.jpg" style="height: 350px"; alt="cecille">
        <p id="aboutbox" style="top:400px";>Cecille Graham is proud to have worked on Square Up's fullstack coding,
                                            and to have managed the design and aesthetics of the game. Cecille is a
                                            first year at the University of Chicago, where she will be studying
                                            computer science and economics.</p>
      </div>
    </div>
  </body>
</html>
