<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/howtoplay.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>How to play Square Up!</h1>
    <h2>1. Users enter a username and select a color to play in.<br>
    2. The chosen color will customize the game’s visuals.<br>
    4. Players type the words upon seeing them.<br>
    5. If spelled correctly and typed before their <br>  &nbsp;&nbsp; opponent, the box in which the word appeared will turn to <br>  &nbsp;&nbsp; the player’s color.<br>
    6. Players have 1 minute to type as many words and fill as <br> &nbsp;&nbsp; many boxes with their color <br>  &nbsp;&nbsp as possible.<br>
    7. When time is up, the player with more boxes in their color <br>  &nbsp;&nbsp wins!</h2>
    <h3> Player = &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Your opponent =</h3>
    <img id="bluepokemon" src="https://thumbs.gfycat.com/EvilAmusedFerret-max-1mb.gif"; alt="Funny imagee">
    <img id = "pikachu" src="https://ui-ex.com/images/transparent-pikachu-pixel-animation.gif"; alt="Funny image">
  </body>
</html>
