<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/howtoplay.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>How to play Square Up!</h1>
    <h2>Users enter a username and select a color to play in.<br>
    The chosen color will determine the game’s visuals, as it customizes <br> the gameplay to match.<br>
    Randomly generated words will appear in a playing grid.<br>
    Players type the words upon seeing them.<br>
    If spelled correctly and typed before their opponent, the box <br> in which the word appeared will turn to the player’s color.<br>
    Players have 1 minute to type as many words and fill as many boxes <br> with their color as possible.<br>
    When time is up, the player with more boxes in their color wins!</h2>
  </body>
</html>
