<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="static/CSS/leader.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
  </head>
    <meta charset="utf-8">
    <title>Leaderboard</title>
  </head>
  <body>
    <h1 id="rectangle"> Leaderboard </h1>
    {% for round in lead %}
      <p style="color: {{ round.color }}"; class="stats">Player: {{ round.name }}</p>
        <p class="stats">Level: {{ round.level }}</p>
        <p class="stats">Time: {{ round.time_date }}</p>
      <br>
    {% endfor %}
  </body>
</html>
