<!DOCTYPE html>
<head>
  <title>Square Up</title>
  <link rel="stylesheet" href="static/CSS/grid-style.css">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
  <p id="text">Player: {{ name }} </br> Level: {{ level }} </br> Color: {{ color }}</p>
  <script> color= "{{ color }}" </script>
  </div>
  <p id="timebox" style="font-size: 25px";></p>
  <div id="background" style="background-color: {{ color }}" ></div>
  <div id="all_boxes" style="font-size: 20px";>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <br>
  <div id="txtbox" style="font-size: 30px";>>
    <p></p>
  </div>
  <script src="static/JavaScript/board.js"></script>
</body>
