<!DOCTYPE html>
<head>
  <title>Square Up</title>
  <link rel="stylesheet" href="static/CSS/grid-style.css">
</head>
<body>
  <p id="text">Player: {{ name }} </br> Level: {{ level }}</p>
  </div>
  <p id="timebox"></p>
  <div id="background"></div>
  <div id="all_boxes" style="font-size: 30px";>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div id="txtbox" style="font-size: 30px";>
  <div>
    <form>
      <label for="fname"></label>
      <input type="text" id="txtbox" name="firstname" placeholder="Type here...">
    </form>
  </div>
  <script src="static/JavaScript/board.js"></script>
</body>
