<!DOCTYPE html>
<head>
  <title>Square Up</title>
  <link rel="stylesheet" href="static/CSS/grid-style.css">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
  <p id="text">Player: {{ name }} </br> Level: {{ level }} </br> Color: {{ color }}</p>
  <script> color= "{{ color }}" </script>
  </div>
  <p id="timebox" style="font-size: 30px";></p>
  <p id="botbox" style="font-size: 15px";></p>
  <p id="playerbox" style="font-size: 15px";></p>
  <div id="background" style="background-color: {{ color }}" ></div>
  <img id = "pikachu" src="https://ui-ex.com/images/transparent-pikachu-pixel-animation.gif" style="width:210px;height:210px;right:20px;top:400px"; alt="Funny image">
  <img src="https://thumbs.gfycat.com/EvilAmusedFerret-max-1mb.gif" style="width:200px;height:200px;left:40px"; alt="Funny imagee">
  <div id="all_boxes" style="font-size: 18px";>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <br>
  <div id="txtbox" style="font-size: 30px";>>
    <p></p>
  </div>
  <script src="static/JavaScript/board.js"></script>
</body>
