<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Square Up Game</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/welcome.css">
  </head>
  <body>
    <div class="pagetitle">
        <h1> Square Up! </h1>
        <form method="post" action="/game">
        <input id="username_box" type="text" name="username" value="" placeholder="Enter username">
        <input id="level_box" type="text" name="level" value="" placeholder="Enter level">
        <button id="submit_button" type="submit"> Start game! </button>
        <label id="box" for="colorPicker"> Pick your color:</label>
        <input id="colorPicker" type="color" value="#F703E0" id="colorPicker">
        <p id="output"></p>
        </form>
    </div>
  </body>
</html>
